.auth-layout-wrapper {
    position: relative;
    // background-image: linear-gradient(to bottom, $accent-green-6 50%, $accent-yellow-07 50%);
    margin: 0 auto;
    height: 100vh;
    background-color: white;

    .outlet-wrapper {
        height: calc(100vh - 6rem);
        // @include flex-center();
        display: flex;
        justify-content: center;
        align-items: center;
    }
}